<!-- イベント一覧 -->
<% events.each do |event| %>
	<div class="contents-event-box">
		<div class="event-top-box">
			<p><%= event.title %></p>
		</div>
		<div class="event-image-box">
			<%= attachment_image_tag event, :image, size:'280x280' %>
		</div>
		<div class="event-text-box">
			<p class="event-address"><i class="fas fa-map-marker-alt icon"></i><%= event.prefecture_code %>　<%= event.city %></p>
		    <p>　<%= event.explanation %></p>
		</div>
		<p class="event-post-count">投稿数：<%= event.posts.count %></p>

		<!-- 管理者は編集リンク表示 -->
		<% if admin_signed_in? %>
			<%= link_to edit_event_path(event) do %>
				<i class="fas fa-edit event-post-next-icon"></i>
			<% end %>
		<% else %>
		<!-- 管理者以外は詳細リンク表示 -->
			<%= link_to user_event_path(event),data: {"turbolinks"=>false} do %>
				<i class="fas fa-arrow-circle-right event-post-next-icon"></i>
			<% end %>
		<% end %>
	</div>
<% end %>

<!-- ページネーションアンカーリンク付き -->
<%= paginate events, params: { anchor: 'index-link' } %>
