<%= render 'user/users/profile' %>
<div class="row">
	<h2><%= @event.title %>詳細</h2>
	<div id="map-box">
		<p id="map-close-btn" class="text-center">閉じる</p>
		<div id='map' class="<%= @event.prefecture_code + @event.city %>"></div>
	</div>

	<div class="show-container">
		<div class="event-show-image-box">
			<%= attachment_image_tag @event, :image, :fill, 500, 500 %>
		</div>
		<div class="event-show-text-box">
			タイトル：<%= @event.title %><br>
			説明：<%= @event.explanation %><br>
			開催場所：<%= @event.prefecture_code %><%= @event.city %>
		</div>
		<p id="map-btn">地図を表示する</p>
		<p class="post">投稿する</p>
		<div class="post-form">
			<%= form_with model:[@event, @post], url:user_event_posts_path(@event) do |f| %>
				<% @post.post_images.each do |image| %>
					<%= attachment_image_tag image, :image, fallback: "Share.png", class: "img-prev1", size: "250x250" %>
					<%= attachment_image_tag image, :image, fallback: "Share.png", class: "img-prev2", size: "250x250" %>
					<%= attachment_image_tag image, :image, fallback: "Share.png", class: "img-prev3", size: "250x250" %>
				<% end %>
				<%= f.fields_for :post_images do |i| %>
					<%= i.attachment_field :image, multiple: true, name: "post_images[image][]", id: 'image1' %>
					<%= i.attachment_field :image, multiple: true, name: "post_images[image][]", id: 'image2' %>
					<%= i.attachment_field :image, multiple: true, name: "post_images[image][]", id: 'image3' %>
				<% end %>
				<%= f.label :post_title, 'タイトル' %>
				<%= f.text_field :post_title %><br>
				<%= f.label :post_text, 'コメント' %>
				<%= f.text_area :post_text %>
				<%= f.submit '投稿する' %>
			<% end %>
		</div>

		<div class="user-post-contants">
		<% @posts.each do |post| %>
			<div class='user-post-box'>
				<div class="post-user">
					<%= link_to user_user_path(post.user) do %>
						<%= attachment_image_tag post.user, :profile_image, fallback: 'Share.png', class: 'image-size' %><%= post.user.nickname %>
					<% end %>
				</div>
				<div class="user-post-image-box bxslider">
					<% post.post_images.each do |image| %>
						<%= attachment_image_tag image, :image, class: 'user-post-image' %>
					<% end %>
				</div>
				<div class="user-post-favorite-boxn favorite-<%= post.id %>">
					<%= render 'user/favorites/favorite', post: post, event: @event %>
				</div>
				<div class="user-post-text-box">
					<%= post.post_text %>
					<%= link_to 'コメントを見る', user_event_post_path(@event, post) %>
				</div>
			</div>
		<% end %>
		</div>
		<%= paginate @posts %>
	</div>
</div>

<script>
	/*
	mapを関数の外で定義(codeAddressでも使うため)
	geocoderを用意
	*/

	let map
	let geocoder

	function initMap(){
	  // geocoderを初期化
	  geocoder = new google.maps.Geocoder()
	  geocoder.geocode( { 'address': $('#map').attr('class')}, function(results, status) {
	    if (status == 'OK') {
	　　　　　　　　　　　　// map.setCenterで地図が移動
	      map.setCenter(results[0].geometry.location);

	　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
	      var marker = new google.maps.Marker({
	          map: map,
	          position: results[0].geometry.location
	      });
	    } else {
	      alert('Geocode was not successful for the following reason: ' + status);
	    }
	  });

	  map = new google.maps.Map(document.getElementById('map'), {
	  center: {lat: -34.397, lng: 150.644},
	  zoom: 10
	  });
	}

	function codeAddress(){
	  // 入力を取得
	  let inputAddress = document.getElementById('address').value;

	  // geocodingしたあとmapを移動
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP'] %>&callback=initMap" async defer></script>