<%= render 'layouts/nav' %>
<%= render 'user/users/profile' %>
<div class="row">
	<h2>フェス詳細</h2>
	<div class="show-container">
		<div class="event-show-image-box">
			<%= attachment_image_tag @event, :image, :fill, 500, 500 %>
		</div>
		<div class="event-show-text-box">
			タイトル：<%= @event.title %><br>
			説明：<%= @event.explanation %><br>
			開催都市：<%= @event.prefectures %><%= @event.address_city %>
		</div>

		<p class="post">投稿する</p>
		<div class="post-form">
			<%= form_with model:[@event, @post], url:user_event_posts_path(@event) do |f| %>
				<%= attachment_image_tag @post, :post_image, fallback: "noimage.jpg", class: "img-prev", size: "300x300" %>
				<%= f.attachment_field :post_image, id: 'image' %>
				<%= f.label :post_title, 'タイトル' %>
				<%= f.text_field :post_title %><br>
				<%= f.label :post_text, 'コメント' %>
				<%= f.text_area :post_text %>
				<%= f.submit '投稿する' %>
			<% end %>
		</div>

		<div class="post-contants">
		<% @event.posts.each do |post| %>
			<div class='post-box'>
				<div class="post-user">
					<%= link_to user_user_path(post.user) do %>
						<%= attachment_image_tag post.user, :profile_image, fallback: 'sweet3.jpg', class: 'image-size' %><%= post.user.nickname %>
					<% end %>
				</div>
				<div class="post-image-box">
					<%= attachment_image_tag(post, :post_image, :fill, 280, 280) %>
				</div>
				<div class="post-text-box">
					<%= post.post_text %>
					<%= link_to 'コメントを見る', user_event_post_path(post) %>
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>