<%= render 'user/users/profile' %>
<div class="row">
	<h2><%= @event.title %>詳細</h2>
	<div class="show-container">
		<div class="event-show-image-box">
			<%= attachment_image_tag @event, :image, :fill, 500, 500 %>
		</div>
		<div class="event-show-text-box">
			タイトル：<%= @event.title %><br>
			説明：<%= @event.explanation %><br>
			開催都市：<%= @event.prefectures %><%= @event.address_city %>
		</div>

		<p class="post">投稿する</p>
		<div class="post-form">
			<%= form_with model:[@event, @post], url:user_event_posts_path(@event) do |f| %>
				<% @post.post_images.each do |image| %>
					<%= attachment_image_tag image, :image, fallback: "Share.png", class: "img-prev", size: "300x300" %>
				<% end %>
				<%= f.fields_for :post_images do |i| %>
					<%= i.attachment_field :image, multiple: true, name: "post_images[image][]", id: 'image' %>
					<%= i.attachment_field :image, multiple: true, name: "post_images[image][]", id: 'image' %>
					<%= i.attachment_field :image, multiple: true, name: "post_images[image][]", id: 'image' %>
				<% end %>
				<%= f.label :post_title, 'タイトル' %>
				<%= f.text_field :post_title %><br>
				<%= f.label :post_text, 'コメント' %>
				<%= f.text_area :post_text %>
				<%= f.submit '投稿する' %>
			<% end %>
		</div>

		<div class="user-post-contants">
		<% @posts.each do |post| %>
			<div class='user-post-box'>
				<div class="post-user">
					<%= link_to user_user_path(post.user) do %>
						<%= attachment_image_tag post.user, :profile_image, fallback: 'Share.png', class: 'image-size' %><%= post.user.nickname %>
					<% end %>
				</div>
				<div class="user-post-image-box bxslider">
					<% post.post_images.each do |image| %>
						<%= attachment_image_tag image, :image, class: 'user-post-image' %>
					<% end %>
				</div>
				<div class="user-post-favorite-boxn favorite-<%= post.id %>">
					<%= render 'user/favorites/favorite', post: post, event: @event %>
				</div>
				<div class="user-post-text-box">
					<%= post.post_text %>
					<%= link_to 'コメントを見る', user_event_post_path(@event, post) %>
				</div>
			</div>
		<% end %>
		</div>
		<%= paginate @posts %>
	</div>
</div>