<% comments.each do |comment| %>
	<div class="comment-contents">
		<%= attachment_image_tag comment.user, :profile_image, :fill, 30, 30, fallback: 'Share.png', class: "profile-image" %>
		<%= comment.user.nickname %>
		<div class="comment-contents-text">
			<p class="col-xs-5"><i class="far fa-comment comment-icon"></i>  <%= comment.comment %></p>
		</div>
		<span class="comment-favorite-<%= comment.id %> col-xs-offset-1">
			<%= render 'user/comment_favorites/favorite', comment: comment, post: post, event: event %>
		</span>
		<i class="fas fa-edit col-xs-offset-1 cursor" id="comment-edit-btn"></i>
	</div>
	<div id="edit-comment-form-box" class="edit-balloon3-right-btm">
		<i class="fas fa-times-circle cursor" id="edit-comment-form-close-btn" style="font-size: 25px;"></i>
		<div class="edit-comment-form text-center">
			<%= form_with model:[event, post, comment], url:user_event_post_post_comment_path(event, post, comment), remote: true, class:'edit-form-comment' do |f| %>
				<%= f.label :comment, 'コメント' %>
				<%= f.submit '編集する' %><br>
				<%= f.text_area :comment, size:'70x6' %>
			<% end %>
		</div>
		<%= link_to '削除', user_event_post_post_comment_path(event, post, comment), method: :delete, remote: true, class: 'link-color link-style' %>
	</div>
<% end %>