<% comments.each do |post_comment| %>
	<div class="comment-contents-box">
		<%= link_to user_user_path(post_comment.user), class: 'link-style link-color' do %>
			<%= attachment_image_tag post_comment.user, :profile_image, size:'40x40', fallback: 'Share.png', class: "profile-image" %>
			<%= post_comment.user.nickname %>
		<% end %>
		<div class="comment-contents-text">
			<p class="col-xs-5"><i class="far fa-comment comment-icon"></i>  <%= post_comment.comment %></p>
		</div>
		<span class="comment-favorite-<%= post_comment.id %> col-xs-offset-1">
			<%= render 'user/comment_favorites/favorite', comment: post_comment, post: post, event: event %>
		</span>
		<span class="cursor col-xs-offset-1 comment-favorite-count-<%= post_comment.id %>">
			<%= render 'user/comment_favorites/count', comment: post_comment %>
		</span>
		<span class="cursor replay_comment-btn replay-comment-btn-<%= post_comment.id %>">コメントする</span>
		<span class="cursor replay_comment-btn replay-comment-box-btn-<%= post_comment.id %>">コメントを見る<%= post_comment.replay_comments.count %>件</span>
		<i class="fas fa-edit col-xs-offset-1 cursor comment-edit-btn<%= post_comment.id %>"></i>
	</div>
	<%= render 'user/replay_comments/form_index', event: event, post: post, post_comment: post_comment, replay_comment: replay_comment %>
	<div class="form-comment-box edit-comment-form-box<%= post_comment.id %>">
		<%= render 'user/post_comments/edit', event: event, post: post, post_comment: post_comment %>
	</div>
<% end %>

