<div class="row">
  <h2>ログイン</h2>
  <span class="error-message"><%= flash[:error] %></span>
  <div class="col-xs-offset-2">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group row">
        <%= f.label :email, 'メールアドレス', class: 'col-xs-4 registration-form-text' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field gorm-group row">
        <%= f.label :password, 'パスワード', class: 'col-xs-4 registration-form-text' %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions form-group col-xs-offset-3" style="margin-top: 20px;">
        <%= f.submit "ログイン", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>