<div class="row">
	<h2>会員一覧</h2>
	<div class="user-contents-box">
		<table class="table">
			<thead class="user-table-th-text">
				<tr>
					<th>会員名</th>
					<th>メールアドレス</th>
					<th>住所</th>
					<th>性別</th>
					<th>お問い合わせ</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td>
							<%= user.nickname %>
						</td>
						<td><%= user.email %></td>
						<td><%= user.post_code %><%= user.prefecture_code %><%= user.address_city %></td>
						<td><%= user.sex %></td>
						<td><%= user.contacts.count %>件</td>
						<td><%= user.is_deleted ? '退会済' : '会員' %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>