<div class="row">
	<h2>会員一覧</h2>
	<div class="user-contents-box">
		<table class="table">
			<thead>
				<tr>
					<th>会員名</th>
					<th>メールアドレス</th>
					<th>住所</th>
					<th>性別</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td>
							<%= attachment_image_tag user, :profile_image, size: '50x50', fallback: 'Share.png' %>
							<%= user.nickname %>
						</td>
						<td><%= user.email %></td>
						<td><%= user.prefecture_code %><%= user.address_city %></td>
						<td><%= user.sex %></td>
						<td><%= user.is_deleted ? '退会済' : '会員' %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>