 <!-- コメントに対するコメント -->
<div class="replay-comment-box-<%= post_comment.id %> col-xs-offset-3" style="display: none;">
	<% post_comment.replay_comments.each do |replay_comment| %>
		<div class="replay-comment">
			<%= link_to user_user_path(replay_comment.user), class: 'link-style link-color' do %>
				<span class="replay-comment-profile-name">
					<%= attachment_image_tag replay_comment.user, :profile_image, fallback: 'Share.jpg', class: "replay-comment-profile-image" %>
					<span style="font-size: 10px;"><%= replay_comment.user.nickname %></span>
				</span>
			<% end %>
			：<%= replay_comment.comment %>
			<% if replay_comment.user == current_user %>
				<%= link_to user_event_post_post_comment_replay_comment_path(event, post, post_comment, replay_comment), class: 'link-color link-style', method: :delete, data: { confirm: '本当に削除しますか？' } do %>
					<i class="fas fa-trash-alt col-xs-offset-1"></i>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>

<!-- コメントに対するコメントフォーム -->
<div class="form-comment-box replay-comment-form-box-<%= post_comment.id %>">

	<!-- 閉じるボタン -->
	<i class="fas fa-times-circle cursor replay-comment-form-close-btn-<%= post_comment.id %>" style="font-size: 25px;"></i>
	<div class="form-comment">
		<%= form_with model:[event, post, post_comment, replay_comment], url:user_event_post_post_comment_replay_comments_path(event, post, post_comment) do |f| %>
			<%= f.label :comment, 'コメント' %>
			<%= f.submit '送信' %><br>
			<%= f.text_area :comment, class: 'comment-form-field', size:'70x6', :placeholder => "＊必須" %>
		<% end %>
	</div>
</div>

<script>
	$(function(){

		//コメントidでどのコメントに対するコメントか判別
		//コメントフォーム表示
		$('.replay-comment-btn-<%= post_comment.id %>').on('click', function(){
			$('.replay-comment-form-box-<%= post_comment.id %>').slideToggle();
		});
		$('.replay-comment-form-close-btn-<%= post_comment.id %>').on('click', function(){
			$('.replay-comment-form-box-<%= post_comment.id %>').slideUp();
		});

		//コメント表示
		$('.replay-comment-box-btn-<%= post_comment.id %>').on('click', function(){
			$('.replay-comment-box-<%= post_comment.id %>').slideToggle();
		});
	});
</script>