<%= render 'layouts/nav' %>

<div class="row">
	<div class="">
		<h2>イベント登録</h2>
		<%= form_with model: @event, url: events_path, method: :post do |f| %>
			<div class="form-group">
				<%= attachment_image_tag @event, :image, fallback: "Share.png", class: "img-prev", size: "300x300" %>
			</div>
			<div class="form-group">
			 	<%= f.attachment_field :image, id: 'image' %>
			</div>
			<div class="form-group">
				<%= f.label :title, 'タイトル' %>
				<%= f.text_field :title %>
			</div>
			<div class="form-group">
				<%= f.label :explanation, '説明' %>
				<%= f.text_area :explanation %>
			</div>
			<div class="form-group">
				<%= f.label :prefectures, '開催都道府県' %>
				<%= f.collection_select :prefectures, JpPrefecture::Prefecture.all, :name, :name %>
			</div>
			<div class="form-group">
				<%= f.label :address_city, '開催市' %>
				<%= f.text_field :address_city %>
			</div>
			<div class="form-group">
				<%= f.label :start_date, '開催開始日' %>
				<%= f.date_select :start_date, use_month_numbers: true,start_year: 2000, end_year: (Time.now.year), default: Date.new(2010, 1, 1) %>
			</div>
			<div class="form-group">
				<%= f.label :end_date, '開催終了日' %>
				<%= f.date_select :end_date, use_month_numbers: true,start_year: 2000, end_year: (Time.now.year), default: Date.new(2010, 1, 1) %>
			</div>
			<div class="form-group">
				<%= f.submit '登録' %>
			</div>
		<% end %>
	</div>

	<div class="">
		<h2>イベント一覧</h2>
		<div class="event-contents">
			<% @events.each do |event| %>
				<div class="event-box">
					<div class="event-title">
						<p><%= event.title %></p>
					</div>
					<div class="event-image">
						<%= attachment_image_tag(event, :image, :fill, 330, 250) %>
					</div>
						<p class="text">説明</p>
						<%= link_to '削除', event_path(event), method: :delete %>
					<div class="event-text">
						開催場所：<%= event.prefectures %>　<%= event.address_city %><br>
						説明：<%= event.explanation %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>