<% if posts.count == 0 %>
	<p>投稿がありません</p>
<% else %>
	<% posts.each do |post| %>
		<div class='contents-post-box'>
			<div class="post-top-box">
				<%= attachment_image_tag post.user, :profile_image, fallback: 'Share.png', class: 'image-size' %>
				<%= post.user.nickname %>
				<% if controller.controller_name != 'events' %>
					<i class="fas fa-heart col-xs-offset-1" style='color:#d95f5d;'></i> <%= post.comment_favorites.count %>
				<% else %>
					<span class="user-post-favorite-box favorite-<%= post.id %> col-xs-offset-1">
						<%= render 'user/favorites/favorite', post: post, event: event %>
					</span>
				<% end %>
				<i class="far fa-comment col-xs-offset-1"></i> <%= post.post_comments.count %>
			</div>
			<div class="image-box bxslider">
				<% post.post_images.each do |image| %>
					<%= attachment_image_tag image, :image, size:'280x280' %>
				<% end %>
			</div>
			<div class="post-text-box">
				<p class="post-title"><%= post.post_title %></p>
				<p>　<%= post.post_text %></p>
				<p class="show-post-date"><%= post.created_at.strftime("%Y/%m/%d") %></p>
				<%= link_to user_event_post_path(post.event, post) do %>
					<i class="fas fa-arrow-circle-right post-next-icon"></i>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>
