<%= render 'layouts/nav' %>
<div class="row">
	<h2>マイページ</h2>
	<div class="my-page-background-box">
		<%= attachment_image_tag current_user, :background, class: 'back-image' %>
	</div>
	<div class="my-page-image-box">
		<%= attachment_image_tag current_user, :profile_image, fallback: 'sweet3.jpg', class: 'my-page-image' %><br>
		<p class="col-xs-4"><%= current_user.nickname %></p>
		<%= link_to 'プロフィール編集', edit_user_users_path %>
		<p>フォロワー</p>
		<p>フォロー</p>
		<p>お気に入り</p>
	</div>
	<div class="profile-contents">
		<table class="table">
			<tr>
				<th>自己紹介</th>
				<td><%= current_user.introduction %></td>
			</tr>
			<tr>
				<th>投稿数</th>
				<td><%= current_user.posts.count %></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><%= current_user.post_code %><%= current_user.prefecture_code %><%= current_user.address_city %></td>
			</tr>
			<tr>
				<th>性別</th>
				<td><%= current_user.sex %></td>
			</tr>
			<tr>
				<th>生年月日</th>
				<td><%= current_user.birthday %></td>
			</tr>
		</table>
	</div>
	<% current_user.posts.each do |post| %>
		<div class='post-box'>
			<%= post.post_title %>
			<div class="post-image-box">
				<%= attachment_image_tag(post, :post_image, :fill, 280, 280) %>
			</div>
			<div class="post-text-box">
				<%= post.post_text %>
				<%= link_to 'コメントを見る', user_event_post_path(post.event, post) %>
			</div>
		</div>
	<% end %>
</div>