<%= render 'layouts/nav' %>
<div class="row">
	<% if @user == current_user %>
		<h2>マイページ</h2>
	<% else %>
		<h2><%= @user.nickname %>さんのプロフィール</h2>
	<% end %>
	<div class="show-background-box">
		<%= attachment_image_tag @user, :background, fallback: 'Share.png', class: 'back-image' %>
	</div>
	<div class="show-image-box">
		<%= attachment_image_tag @user, :profile_image, fallback: 'Share.png', class: 'show-image' %><br>
		<p class="col-xs-4"><%= @user.nickname %></p>
		<%= link_to 'プロフィール編集', edit_user_user_path(@user) %>

		<% if current_user.following?(@user) %>
			<%= link_to user_user_relationships_path(@user), method: :delete do %>
				<p>フォローを外す</p>
			<% end %>
		<% else %>
			<%= link_to user_user_relationships_path(@user), method: :post do %>
				<p>フォローする</p>
			<% end %>
		<% end %>
		
		<p>お気に入り</p>
	</div>
	<div class="profile-contents">
		<table class="table">
			<thead>
				<th>プロフィール</th>
				<th></th>
			</thead>
			<tbody>
				<tr>
					<th>自己紹介</th>
					<td><%= @user.introduction %></td>
				</tr>
				<tr>
					<th>投稿数</th>
					<td><%= @user.posts.count %></td>
				</tr>
				<tr>
					<th>住所</th>
					<td><%= @user.post_code %><%= @user.prefecture_code %><%= @user.address_city %></td>
				</tr>
				<tr>
					<th>性別</th>
					<td><%= @user.sex %></td>
				</tr>
				<tr>
					<th>生年月日</th>
					<td><%= @user.birthday %></td>
				</tr>
				<tr>
					<th>フォロワー数</th>
					<td>
						<%= link_to user_user_follower_path(@user) do %>
							<%= @user.follower.count %>
						<% end %>
					</td>
				</tr>
				<tr>
					<th>フォロー数</th>
					<td>
						<%= link_to user_user_followings_path(@user) do %>
							<%= @user.following.count %>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<h4>投稿一覧</h4>
	<div class="show-post-contants">
		<% @user.posts.each do |post| %>
			<div class='show-post-box'>
				<%= post.post_title %>
				<div class="show-post-image-box">
					<%= attachment_image_tag(post, :post_image, :fill, 280, 280) %>
				</div>
				<div class="show-post-favorite-box">
					<i class="fas fa-heart", style='color:red; font-size:20px;'></i><%= post.favorites.count %>
				</div>
				<div class="show-post-text-box">
					<%= post.post_text %>
					<%= link_to 'コメントを見る', user_event_post_path(post.event, post) %>
				</div>
			</div>
		<% end %>
	</div>
</div>