<div class="row">
	<% if @user == current_user %>
		<h2>マイページ</h2>
	<% else %>
		<h2><%= @user.nickname %>さんのプロフィール</h2>
		<% if @user.is_deleted == true %>
			<span style="color: red;">＊退会したユーザーです</span>
		<% end %>
	<% end %>
	<div class="show-background-image-box col-xs-12">
		<%= attachment_image_tag @user, :background, fallback: 'Share.png', class: 'back-image' %>
	</div>
	<div class="show-image-box col-xs-offset-1">
		<%= attachment_image_tag @user, :profile_image, fallback: 'Share.png', class: 'show-image' %>
		<% if @user == current_user %>
			<p id="artist-btn" class="col-xs-offset-2 btn-vertical-border cursor"><i class="fas fa-microphone-alt icon"></i>好きなアーティストを登録する</p>
		<% else %>
			<% if current_user.following?(@user) %>
				<%= link_to user_user_relationships_path(@user), method: :delete, class: 'link-color link-group col-xs-offset-2' do %>
					<p>フォローを外す</p>
				<% end %>
			<% else %>
				<%= link_to user_user_relationships_path(@user), method: :post, class: 'link-color link-group col-xs-offset-2' do %>
					<p>フォローする</p>
				<% end %>
			<% end %>
		<% end %>
		<% if @user == current_user %>
			<%= link_to edit_user_user_path(@user), class: 'link-color link-group col-xs-offset-2' do %>
				<p class="btn-vertical-border">プロフィール編集</p>
			<% end %>
		<% end %>
	</div>

	<div id="artist-box">
		<i class="fas fa-times-circle cursor" id="artist-box-close-btn" style="color: #7d8e99;"></i>
		<div class="artist-form row artist-form-<%= @user.id %>">
			<%= render 'user/artists/form', user: @user, artist: @artist_new %>
		</div>
		<div class="like-artist-box row artist-<%= @user.id %>">
			<%= render 'user/artists/index', artists: @user.artists, user: @user %>
		</div>
	</div>

	<div class="profile-contents-box col-xs-offset-1">
		<div class="profile-date-box">
			<p class="profile-contents-text">
				<span class="profile-name"><%= @user.nickname %></span>
				<i class="fas fa-map-marker-alt icon col-xs-offset-2"></i><%= @user.prefecture_code %><%= @user.address_city %>
				<i class="fas fa-birthday-cake icon col-xs-offset-2"></i><%= @user.birthday.strftime("%Y年%m月%d日") %>
			</p>
			<p class="profile-contents-text"><%= @user.introduction %></p>
		</div>
		<div class="profile-follow-box">
			<p class="profile-contents-text" style="font-size: 20px;">
				<span class="col-xs-3">
					<%= @user.posts.count %><br>
					<span class="post-text">投稿</span>
				</span>
				<span class="col-xs-3">
					<%= @user.follower.count %><br>
					<span class="cursor follower-user-btn">フォロワー</span>
				</span>
				<span class="col-xs-3">
					<%= @user.following.count %><br>
					<span class="cursor following-user-btn">フォロー中</span>
				</span>
			</p>
		</div>
		<div class="profile-contents-artist-box">
			<h4 class="profile-contents-text">
				<i class="fas fa-microphone-alt like-atrits-text">　好きなアーティスト</i>
			</h4>
			<div class="artist-<%= @user.id %>">
				<%= render 'user/artists/index', artists: @user.artists, user: @user %>
			</div>
		</div>
	</div>
	<h2 id="index-link">投稿一覧</h2>
	<div class="contents-box">
		<%= render 'user/posts/index', posts: @posts %>
		<%= paginate @posts, params: { anchor: 'index-link' } %>
	</div>
	<div id="contact-form-box">
    	<i class="fas fa-times-circle cursor" id="contact-form-close-btn" style="font-size: 25px;"></i>
    	<div class="contact-form text-center">
	    	<%= form_with model: [@user, @contact], url: user_user_contacts_path(@user) do |f| %>
		    	<div class="form-group row">
			    	<%= f.label :title, '件名', class: 'col-xs-3' %>
			    	<%= f.text_field :title, class: 'col-xs-7' %>
			    </div>
			    <div class="form-group row">
			    	<%= f.label :contents, 'お問い合わせ内容', class: 'col-xs-3' %>
			    	<%= f.text_area :contents, size: '100x20', class: 'col-xs-7' %>
			    </div>
			    <div class="form-group">
			    	<%= f.submit '送信' %>
			    </div>
		    <% end %>
		</div>
    </div>
</div>







