<%= render 'layouts/nav' %>
<div class="row">
	<h2>マイページ</h2>
	<div class="show-background-box">
		<%= attachment_image_tag @user, :background, class: 'back-image' %>
	</div>
	<div class="show-image-box">
		<%= attachment_image_tag @user, :profile_image, fallback: 'sweet3.jpg', class: 'show-image' %><br>
		<p class="col-xs-4"><%= @user.nickname %></p>
		<%= link_to 'プロフィール編集', edit_user_user_path(@user) %>
		<p>フォロワー</p>
		<p>フォロー</p>
		<p>お気に入り</p>
	</div>
	<div class="profile-contents">
		<table class="table">
			<thead>
				<th>プロフィール</th>
				<th></th>
			</thead>
			<tbody>
				<tr>
					<th>自己紹介</th>
					<td><%= @user.introduction %></td>
				</tr>
				<tr>
					<th>投稿数</th>
					<td><%= @user.posts.count %></td>
				</tr>
				<tr>
					<th>住所</th>
					<td><%= @user.post_code %><%= @user.prefecture_code %><%= @user.address_city %></td>
				</tr>
				<tr>
					<th>性別</th>
					<td><%= @user.sex %></td>
				</tr>
				<tr>
					<th>生年月日</th>
					<td><%= @user.birthday %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<h4>投稿一覧</h4>
	<div class="show-post-box">
		<% @user.posts.each do |post| %>
			<div class='post-box'>
				<%= post.post_title %>
				<div class="post-image-box">
					<%= attachment_image_tag(post, :post_image, :fill, 280, 280) %>
				</div>
				<div class="post-text-box">
					<%= post.post_text %>
					<%= link_to 'コメントを見る', user_event_post_path(post.event, post) %>
				</div>
			</div>
		<% end %>
	</div>
</div>