<meta name="turbolinks-cache-control" content="no-cache">
<div class="row">
	<% if @user == current_user %>
		<h2>マイページ</h2>
	<% else %>
		<h2><%= @user.nickname %>さんのプロフィール</h2>
	<% end %>
	<div class="show-background-box col-xs-12">
		<%= attachment_image_tag @user, :background, fallback: 'Share.png', class: 'back-image' %>
	</div>
	<div class="show-image-box col-xs-offset-1">
		<%= attachment_image_tag @user, :profile_image, fallback: 'Share.png', class: 'show-image' %>
		<% if @user == current_user %>
			<p id="artist-btn" class="col-xs-offset-2 btn-vertical-border">好きなアーティストを登録する</p>
		<% else %>
			<% if current_user.following?(@user) %>
				<%= link_to user_user_relationships_path(@user), method: :delete, class: 'link-color link-group col-xs-offset-2' do %>
					<p>フォローを外す</p>
				<% end %>
			<% else %>
				<%= link_to user_user_relationships_path(@user), method: :post, class: 'link-color link-group col-xs-offset-2' do %>
					<p>フォローする</p>
				<% end %>
			<% end %>
		<% end %>
		<%= link_to edit_user_user_path(@user), class: 'link-color link-group col-xs-offset-3' do %>
			<p class="btn-vertical-border">プロフィール編集</p>
		<% end %>
	</div>

	<div id="artist-box">
		<i class="fas fa-times-circle" id="artist-box-close-btn"></i>
		<div class="artist-form row artist-form-<%= @user.id %>">
			<%= render 'user/artists/form', user: @user, artist: @artist_new %>
		</div>
		<div class="like-artist-box profile-contents-artist-text-box row artist-<%= @user.id %>">
			<%= render 'user/artists/index', artists: @user.artists, user: @user %>
		</div>
	</div>

	<div class="profile-contents col-xs-offset-1">
		<div class="profile-date-box">
			<p class="profile-contents-text">
				<span class="profile-name"><%= @user.nickname %></span>
				<i class="fas fa-map-marker-alt icon col-xs-offset-2"></i><%= @user.prefecture_code %><%= @user.address_city %>
				<i class="fas fa-birthday-cake icon col-xs-offset-2"></i><%= @user.birthday.strftime("%Y年%m月%d日") %>
			</p>
			<p class="profile-contents-text"><%= @user.introduction %></p>
		</div>
		<div class="profile-follow-box">
			<p class="profile-contents-text" style="font-size: 20px;">
				<span class="col-xs-3">
					<%= @user.posts.count %><br>
					<span class="post-text">投稿</span>
				</span>
				<span class="col-xs-3">
					<%= @user.follower.count %><br>
					<%= link_to user_user_follower_path(@user), class: 'link-color follow-text' do %>
						フォロワー
					<% end %>
				</span>
				<span class="col-xs-3">
					<%= @user.following.count %><br>
					<%= link_to user_user_followings_path(@user), class: 'link-color follow-text' do %>
						フォロー中
					<% end %>
				</span>
			</p>
		</div>
		<div class="profile-contents-artist-box">
			<h4 class="profile-contents-text"><i class="fas fa-microphone-alt icon"></i>好きなアーティスト</h4>
			<div class="profile-contents-artist-text-box artist-<%= @user.id %>">
				<%= render 'user/artists/index', artists: @user.artists, user: @user %>
			</div>
		</div>
	</div>
	<h2 id="index_link">投稿一覧</h2>
	<div class="show-post-contants">
		<%= render 'user/users/post_index', posts: @posts %>
		<%= paginate @posts, params: { anchor: 'index_link' } %>
	</div>
</div>