<div id="follower-user-box">
	<div class="row">
		<i class="fas fa-times-circle cursor" id="follower-user-close-btn" style="font-size: 25px;"></i>
		<h2>フォロワー</h2>
		<% if user.follower.count == 0 %>
			<p>フォロワーがいません</p>
		<% else %>
			<% user.follower_user.each do |follower| %>
				<div class="follower-user row">
					<%= link_to user_user_path(follower), class: 'link-style link-color' do %>
						<%= attachment_image_tag follower, :profile_image, fallback: 'Share.png', class: 'follower-profile-image' %>
						<span class="follower-name"><%= follower.nickname %></span>
					<% end %>
					<% if current_user.following?(follower) %>
						<%= link_to user_user_relationships_path(follower), method: :delete, class: 'link-color link-style follow-link' do %>
							<i class="fas fa-user-slash"></i>フォローを外す
						<% end %>
					<% else %>
						<%= link_to user_user_relationships_path(follower), method: :post, class: 'link-color link-style follow-link' do %>
							<i class="fas fa-user"></i>フォローする
						<% end %>
					<% end %>
  					<%= link_to user_user_chat_path(current_user, follower), class: 'link-color link-style follow-link' do %>
  						<i class="far fa-comments"></i>チャット
  					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>