<!-- フォロー中ユーザー一覧 -->
<div id="following-user-box">
	<div class="row">

		<!-- 閉じるボタン -->
		<i class="fas fa-times-circle cursor" id="following-user-close-btn" style="font-size: 25px;"></i>
		<h2>フォロー中</h2>
		<% if user.following.count == 0 %>
			<p>フォロワーがいません</p>
		<% else %>
			<% user.following_user.each do |following| %>
				<div class="following-user row">
					<%= link_to user_user_path(following), class: 'link-style link-color' do %>
						<%= attachment_image_tag following, :profile_image, fallback: 'Share.jpg', class: 'following-profile-image' %>
						<span class="following-name"><%= following.nickname %></span>
					<% end %>

					<!-- ログインユーザー以外の時表示 -->
					<% if following != current_user %>
						<% if current_user.following?(following) %>
							<%= link_to user_user_relationships_path(following), method: :delete, class: 'link-color link-style follow-link' do %>
								<i class="fas fa-user-slash"></i>フォローを外す
							<% end %>
						<% else %>
							<%= link_to user_user_relationships_path(following), method: :post, class: 'link-color link-style follow-link' do %>
								<i class="fas fa-user"></i>フォローする
							<% end %>
						<% end %>
						<%= link_to user_user_chat_path(current_user, following), class: 'link-color link-style follow-link' do %>
	  						<i class="far fa-comments"></i>チャット
	  					<% end %>
	  				<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>