<div id="follower-user-box">
	<div class="row">
		<i class="fas fa-times-circle cursor" id="follower-user-close-btn" style="font-size: 25px;"></i>
		<h2>フォロワー</h2>
		<% if current_user.follower.count == 0 %>
			<p>フォロワーがいません</p>
		<% else %>
			<% current_user.follower_user.each do |follower| %>
				<div class="follower-user row">
					<%= link_to user_user_path(follower), class: 'link-style link-color col-xs-5' do %>
						<%= attachment_image_tag follower, :profile_image, fallback: 'Share.png', class: 'profile-image' %>
						<span class="col-xs-offset-1"><%= follower.nickname %></span>
					<% end %>
					<% if current_user.following?(follower) %>
						<%= link_to user_user_relationships_path(follower), method: :delete, class: 'follow-link-color link-style col-xs-5' do %>
							<p>フォローを外す</p>
						<% end %>
					<% else %>
						<%= link_to user_user_relationships_path(follower), method: :post, class: 'follow-link-color link-style col-xs-5' do %>
							<p>フォローする</p>
						<% end %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>