<div class="row">
	<h2>投稿編集</h2>
	<%= form_with model:[@event, @post], url:user_event_post_path(@event, @post) do |f| %>
		<div class="post-image-form">
			<% @post.post_images.each do |image| %>
				<div class="post-form-box-image1 cursor">
					<%= attachment_image_tag image, :image, class: "img-prev4", size: "250x250" %>
				</div>
			<% end %>
		</div>
		<div class="post-comment-form">
			<div class="form-group row">
				<%= f.label :post_title, 'タイトル', class: 'col-xs-2' %>
				<%= f.text_field :post_title, class: 'col-xs-5' %>
			</div>
			<div class="form-group row">
				<%= f.label :post_text, 'コメント', class: 'col-xs-2' %>
				<%= f.text_area :post_text, class: 'col-xs-9', size: "20x10" %>
			</div>
			<%= f.submit '投稿する', class: 'col-xs-offset-6 update-btn' %>
		</div>
	<% end %>
</div>