<%= render 'user/users/profile' %>
<div class="row">
	<% if @tag == nil %>
		<% if params[:ranking] == "1" %>
			<h2>いいね数ランキング（上位10）</h2>
		<% elsif params[:ranking] == "0" %>
			<h2>コメント数ランキング（上位10）</h2>
		<% elsif params[:date] == "0" %>
			<h2>新しい順</h2>
		<% elsif params[:date] == "1" %>
			<h2>古い順</h2>
		<% elsif params[:following_post] == "0" %>
			<h2>フォロー中ユーザーの投稿</h2>
		<% end %>

		<div class="event-ranking-text-box">
			<%= link_to user_event_posts_path(@events, :ranking => 1), class: 'link-style link-color' do %>
				<span class="event-ranking-text cursor btn-vertical-border contents-btn">いいねの多い投稿を見る</span>
			<% end %>
			<%= link_to user_event_posts_path(@events, :ranking => 0), class: 'link-style link-color' do %>
				<span class="event-ranking-text cursor btn-vertical-border contents-btn">コメントの多い投稿を見る</span>
			<% end %>
			<%= link_to user_event_posts_path(@events, :date => 0), class: 'link-style link-color' do %>
				<span class="event-ranking-text cursor btn-vertical-border contents-btn">新しい投稿順</span>
			<% end %>
			<%= link_to user_event_posts_path(@events, :date => 1), class: 'link-style link-color' do %>
				<span class="event-ranking-text cursor btn-vertical-border contents-btn">古い投稿順</span>
			<% end %>
		</div>
		<span id="event-ranking-btn" class="col-xs-offset-1">表示を切り替える</span>
		<div id="active-event-ranking-text-box">
			<i class="fas fa-times-circle cursor" id="event-ranking-close-btn"></i>
			<div class="text-center">
				<%= link_to user_event_posts_path(@events, :ranking => 1), class: 'link-style link-color' do %>
					<span class="event-ranking-text cursor btn-vertical-border contents-btn">いいねの多い投稿を見る</span>
				<% end %>
				<%= link_to user_event_posts_path(@events, :ranking => 0), class: 'link-style link-color' do %>
					<span class="event-ranking-text cursor btn-vertical-border contents-btn">コメントの多い投稿を見る</span>
				<% end %>
				<%= link_to user_event_posts_path(@events, :date => 0), class: 'link-style link-color' do %>
					<span class="event-ranking-text cursor btn-vertical-border contents-btn">新しい投稿順</span>
				<% end %>
				<%= link_to user_event_posts_path(@events, :date => 1), class: 'link-style link-color' do %>
					<span class="event-ranking-text cursor btn-vertical-border contents-btn">古い投稿順</span>
				<% end %>
			</div>
		</div>
	<% else %>
		<h2>「<%= @tag.name %>」のタグが付いた投稿</h2>
	<% end %>
	<div class="post-index-box">
		<%= render 'user/posts/index', posts: @posts %>
	</div>
	<% if @tag != nil %>
		<%= paginate @posts %>
	<% elsif params[:following_post] == "0" %>
		<%= paginate @posts %>
	<% end %>
</div>