<%= render 'user/users/profile' %>
<div class="row">
	<h2>コメント</h2>
	<div class="post-contants-name-box" id="count-<%= @post.id %>">
		<%= render 'user/posts/count', post: @post %>
	</div>

	<div class="post-contants-image-box bxslider">
		<% @post.post_images.each do |image| %>
			<%= attachment_image_tag image, :image, size: "500x500" %>
		<% end %>
	</div>

	<div class="favorite"><i class="fas fa-heart", style='font-size:400px;'></i></div>

	<div class="favorite-box favorite-<%= @post.id %>">
		<%= render 'user/favorites/favorite', post: @post, event: @event %>
		<span class="col-xs-offset-4" id="comment">コメントする</span>
	</div>

	<div class="post-text-box">
		<strong><%= @post.user.nickname %></strong>
		<%= @post.post_text %>
	</div>

	<div id="comment<%= @post.id %>">
		<%= render 'user/post_comments/comment', comments: @post.post_comments, post: @post, event: @event %>
	</div>

	<div id="comment-form-box" class="balloon3-right-btm">
		<i class="fas fa-times-circle" id="comment-form-close-btn" style="font-size: 25px;"></i>
		<div class="comment-form text-center">
			<%= form_with model:[@event, @post, @comment], url:user_event_post_post_comments_path(@event, @post), remote: true, class:'form-comment' do |f| %>
				<%= f.label :comment, 'コメント' %>
				<%= f.submit '送信' %><br>
				<%= f.text_area :comment, size:'70x6' %>
			<% end %>
		</div>
	</div>
</div>