<%= render 'layouts/nav' %>
<%= render 'user/users/profile' %>
<div class="row">
	<h2>コメント</h2>
	<div class="post-contants-name">
		<%= attachment_image_tag @post.user, :profile_image, :fill, 30, 30, fallback: 'Share.png', class: "profile-image" %>
		<p class="col-xs-3"><%= @post.user.nickname %></p>
	</div>

	<div class="post-contants-image-box">
		<% @post.post_images.each do |image| %>
			<%= attachment_image_tag image, :image, class: 'post-contants-image' %>
		<% end %>
	</div>

	<div class="favorite"><i class="fas fa-heart", style='font-size:400px;'></i></div>

	<div class="favorite-box favorite-<%= @post.id %>">
		<%= render 'user/favorites/favorite', post: @post, event: @event %>
	    <p>お気に入り</p>
	</div>

	<div class="post-text-box">
		<strong><%= @post.user.nickname %></strong>
		<%= @post.post_text %>
	</div>

	<% @post.post_comments.each do |comment| %>
		<div class="comment-box">
			<%= attachment_image_tag comment.user, :profile_image, :fill, 30, 30, fallback: 'Share.png', class: "profile-image" %>
			<%= comment.user.nickname %>
			<p><%= comment.comment %></p>
			<div class="comment-favorite-box comment-favorite-<%= comment.id %>">
				<%= render 'user/comment_favorites/favorite', comment: comment, post: @post, event: @event %>
			</div>
		</div>
	<% end %>

	<p id='comment'>コメントする</p>

	<div class="comment-form">
		<%= form_with model:[@event, @post, @comment], url:user_event_post_post_comments_path(@event,@post), local: true do |f| %>
			<%= f.label :comment, 'コメント' %>
			<%= f.text_area :comment %>
			<%= f.submit '送信' %>
		<% end %>
	</div>


</div>