<%= render 'user/users/profile' %>
<div class="row">
	<h2>コメント</h2>
	<div class="show-post-name-box row">
		<%= link_to user_user_path(@post.user), class: 'link-style link-color col-xs-3' do %>
			<%= attachment_image_tag @post.user, :profile_image, size:'30x30', fallback: 'Share.png', class: "profile-image" %>
			<%= @post.user.nickname %>
		<% end %>
		<span id="count-<%= @post.id %>" class="col-xs-offset-1">
			<%= render 'user/post_comments/count', post: @post %>
		</span>
		<span class="col-xs-offset-1 favorite-count-<%= @post.id %>">
			<%= render 'user/favorites/count', post: @post %>
		</span>
	</div>

	<div class="show-post-image-box show-post-bxslider">
		<% @post.post_images.each do |image| %>
			<%= attachment_image_tag image, :image, size: "500x500", class: 'show-post-image' %>
		<% end %>
	</div>

	<div class="favorite-box">
		<span class="col-xs-offset-1 favorite-<%= @post.id %>">
			<%= render 'user/favorites/favorite', post: @post, event: @event %>
		</span>
		<span class="cursor col-xs-offset-1" id="comment"><i class="far fa-comment"></i>コメントする</span>
		<span class="cursor col-xs-offset-1" id="tag-box-btn"><i class="fas fa-tags"></i>タグを見る</span>
	</div>

	<div class="show-post-text-box">
		<%= link_to user_user_path(@post.user), class: 'link-style link-color' do %>
			<strong><%= @post.user.nickname %></strong>
		<% end %>
		<span class="col-xs-offset-1"><%= @post.post_text %></span>
	</div>

	<div id="comment<%= @post.id %>" class="comment-box">
		<%= render 'user/post_comments/comment', comments: @post.post_comments, post: @post, event: @event, replay_comment: @replay_comment %>
	</div>

	<div id="comment-form-box" class="form-comment-box">
		<i class="fas fa-times-circle cursor" id="comment-form-close-btn" style="font-size: 25px;"></i>
		<div class="comment-form text-center">
			<%= form_with model:[@event, @post, @comment], url:user_event_post_post_comments_path(@event, @post), remote: true, class:'form-comment' do |f| %>
				<%= f.label :comment, 'コメント' %>
				<%= f.submit '送信' %><br>
				<%= f.text_area :comment, size:'70x6' %>
			<% end %>
		</div>
	</div>

	<div id="tag-box">
		<i class="fas fa-times-circle cursor" id="tag-box-close-btn" style="font-size: 25px;"></i>
		<h2 class="col-xs-offset-2">タグ<span class="col-xs-offset-1" style="font-size: 5px;">タグクリックでタグ付けされた投稿の一覧を表示します</span></h2>
		<% @tags.each do |tag| %>
			<div class="tag-text-box text-center">
				<%= link_to user_event_posts_path(tag_id: tag.id) do  %>
					<%= tag.name %>
					<span style="font-size: 15px;">（<%= tag.posts.count %>）</span>
				<% end %>
			</div>
		<% end %>
	</div>

	<%= render 'user/favorites/index', post: @post %>
	<%= render 'user/post_comments/index', post: @post %>
	<%= render 'user/comment_favorites/index', post: @post %>
</div>