<%= render 'layouts/nav' %>
<%= render 'user/users/profile' %>
<div class="row">
	<h2>コメント</h2>
	<div class="post-contants-name">
		<%= attachment_image_tag current_user, :profile_image, :fill, 30, 30, fallback: 'sweet3.jpg', class: "profile-image" %>
		<p class="col-xs-3"><%= current_user.nickname %></p>
	</div>

	<div class="post-contants-image-box">
		<%= attachment_image_tag @post, :post_image, class: 'post-contants-image' %>
	</div>

	<div class="favorite-box">
		<p>いいね　お気に入り</p>
	</div>

	<div class="post-text-box">
		<strong><%= @post.user.nickname %></strong>
		<%= @post.post_text %>
	</div>

	<% @post.post_comment.each do |comment| %>
		<div class="comment-box">
			<%= attachment_image_tag @post.user, :profile_image, :fill, 30, 30, fallback: 'sweet3.jpg', class: "profile-image" %>
			<%= @post.user.nickname %>
			<p><%= comment.comment %></p>
		</div>
	<% end %>

	<p id='comment'>コメントする</p>

	<div class="comment-form">
		<%= form_with model:[@event, @post, @comment], url:user_event_post_post_comments_path(@event,@post), local: true do |f| %>
			<%= f.label :comment, 'コメント' %>
			<%= f.text_area :comment %>
			<%= f.submit '送信' %>
		<% end %>
	</div>


</div>