<nav class="share-rock-nav">
  <div class="container nav-box">
    <div class="navbar-logo">
      <% if user_signed_in? %>
        <img src="/assets/Share.png", width="70px", height="70px" style="border-radius: 50%;">
        <span>Share_Rock</span>
      <% else %>
        <%= link_to root_path do %>
          <img src="/assets/Share.png", width="70px", height="70px" style="border-radius: 50%;">
        <% end %>
          <span>Share_Rock</span>
      <% end %>
    </div>
    <ul class="nav-list">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to  user_user_path(current_user), class: 'link-color link-style',data: {"turbolinks"=>false} do %>
            マイページへ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: 'link-color link-style',data: {"turbolinks"=>false} do %>
              フェス一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to user_search_path, class: 'link-color link-style',data: {"turbolinks"=>false} do %>
               検索
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: 'link-color link-style' do %>
               Sign_out
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to about_path, class: 'link-color link-style' do %>
            Share_Rockとは
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: 'link-color link-style' do %>
              新規登録
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: 'link-color link-style' do %>
               ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>