<nav class="share-rock-nav">
  <div class="container nav-box">
    <div class="navbar-logo">

      <!-- ログインしていなかったらトップページへのパス有り -->
      <% if user_signed_in? %>
        <%= image_tag asset_path("Share.jpg"), class: 'logo-image' %>
        <span class="share-rock-logo">Share_Rock</span>
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag asset_path("Share.jpg"), class: 'logo-image' %>
        <% end %>
          <span class="share-rock-logo">Share_Rock</span>
      <% end %>
    </div>

    <ul class="nav-list">

      <!-- ログインした時の表示 -->
      <% if user_signed_in? %>
        <li class="nav-item">
          <% if current_page?(user_user_path(current_user)) %>
            <span class="cursor contact-btn" style="color: #000000;">お問い合わせ</span>
          <% else %>
            <li class="nav-item">
              <%= link_to  user_user_path(current_user), class: 'link-color link-style',data: {"turbolinks"=>false} do %>
                マイページへ
              <% end %>
            </li>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: 'link-color link-style',data: {"turbolinks"=>false} do %>
              フェス一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to user_search_path, class: 'link-color link-style',data: {"turbolinks"=>false} do %>
               検索
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: 'link-color link-style' do %>
               Sign_out
          <% end %>
        </li>

      <!-- 管理者がログインしている時の表示 -->
      <% elsif admin_signed_in? %>
        <li class="nav-item">
          <%= link_to events_path, class: 'link-color link-style' do %>
              イベント
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to contacts_path, class: 'link-color link-style' do %>
              お問い合わせ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_path, class: 'link-color link-style' do %>
              会員一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_admin_session_path, method: :delete, class: 'link-color link-style' do %>
               Sign_out
          <% end %>
        </li>

      <!-- ログインしてない時 -->
      <% else %>
        <li class="nav-item">
          <%= link_to new_admin_session_path, class: 'link-color link-style' do %>
               管理者
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to about_path, class: 'link-color link-style' do %>
            Share_Rockとは
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: 'link-color link-style' do %>
              新規登録
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: 'link-color link-style' do %>
               ログイン
          <% end %>
        </li>
      <% end %>

      <!-- スマホ時のハンバーガメニューボタン -->
      <i class="fas fa-bars cursor" id="humbureger-btn"></i>

      <!-- スマホ時のはンバーガーメニュー -->
      <div id="humburger-menu-box">

        <!-- 閉じるボタン -->
        <i class="fas fa-times-circle cursor" id="humbureger-close-btn"></i>
        <ul id="humburger-item-list">

          <!-- ログイン時 -->
          <% if user_signed_in? %>
            <li class="humburger-item">
              <% if current_page?(user_user_path(current_user)) %>
                <span class="cursor contact-btn" style="color: #000000;">お問い合わせ</span>
              <% else %>
                <%= link_to  user_user_path(current_user), class: 'link-color link-style',data: {"turbolinks"=>false} do %>
                  マイページへ
                <% end %>
              <% end %>
            </li>
            <li class="humburger-item">
              <%= link_to new_user_registration_path, class: 'link-color link-style',data: {"turbolinks"=>false} do %>
                  フェス一覧
              <% end %>
            </li>
            <li class="humburger-item">
              <%= link_to user_search_path, class: 'link-color link-style',data: {"turbolinks"=>false} do %>
                   検索
              <% end %>
            </li>
            <li class="humburger-item">
              <%= link_to destroy_user_session_path, method: :delete, class: 'link-color link-style' do %>
                   Sign_out
              <% end %>
            </li>

          <!-- 管理者ログイン時 -->
          <% elsif admin_signed_in? %>
            <li class="humburger-item">
              <%= link_to events_path, class: 'link-color link-style' do %>
                  イベント
              <% end %>
            </li>
            <li class="humburger-item">
              <%= link_to contacts_path, class: 'link-color link-style' do %>
                  お問い合わせ
              <% end %>
            </li>
            <li class="humburger-item">
              <%= link_to users_path, class: 'link-color link-style' do %>
                  会員一覧
              <% end %>
            </li>
            <li class="humburger-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'link-color link-style' do %>
                   Sign_out
              <% end %>
            </li>

          <!-- ログアウト時 -->
          <% else %>
            <li class="humburger-item">
              <%= link_to new_admin_session_path, class: 'link-color link-style' do %>
                   管理者
              <% end %>
            </li>
            <li class="humburger-item">
              <%= link_to about_path, class: 'link-color link-style' do %>
                Share_Rockとは
              <% end %>
            </li>
            <li class="humburger-item">
              <%= link_to new_user_registration_path, class: 'link-color link-style' do %>
                  新規登録
              <% end %>
            </li>
            <li class="humburger-item">
              <%= link_to new_user_session_path, class: 'link-color link-style' do %>
                   ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </ul>
  </div>
</nav>



















